/******************** Import ********************/

@import url('https://pro.fontawesome.com/releases/v5.15.1/css/all.css');
@import url('https://cdn.jsdelivr.net/npm/disfont@latest/master.css');
@import url('https://cdn.jsdelivr.net/npm/tippy.js@6.2.6/animations/shift-toward-extreme.min.css');

/******************** Basic ********************/

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 20px 0;
  text-align: center;
  text-rendering: optimizeLegibility;
  font-size: 100%;
  user-select: none;
  scroll-behavior: smooth;
  background: var(--background-primary);
}

* {
  outline: 0;
  border: none;
  font-family: var(--font);
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  list-style: none;
}

a, button {
  transition: .3s;
}

a:hover, button:hover {
  cursor: pointer;
}

svg {
  display: block;
  max-width: 100%;
}

b, strong {
  font-weight: 600;
}

/******************** Theme ********************/

:root {
  --font: 'Whitney', sans-serif;

  --blurple: #7289DA;
  --blurple-secondary: #8EA0E1;

  --greyple: #99aab5;
  --dark-not-black: #2c2f33;
  --green: #43b581;
  --text-link: #00b0f4;
  --off-white: #f6f6f6;
  --white: #fff;
  --not-quite-black: #23272a;
  --quite-black: #191D20;
  --not-quite-black-rgb: 35,39,42;
  --black: #000;

  --shadow-bottom: rgba(0, 0, 0, 0.16) 0px 4px 4px;
}

/******************** Tooltip ********************/

.tippy-box[data-theme~=darken] {
  background: var(--black);
  color: var(--white);
  font-size: 18px;
  font-weight: 500;
  padding: 8px;
  border-radius: 5px;
  text-align: left;
  z-index: 99;
}

.tippy-box[data-theme~=darken]>.tippy-arrow {
  width: 10px;
  height: 10px;
}

.tippy-box[data-theme~=darken][data-placement^=top]>.tippy-arrow:before {
  border-width: 7px 7px 0;
  border-top-color: var(--black);
}

.tippy-box[data-theme~=darken][data-placement^=bottom]>.tippy-arrow:before {
  border-width: 0 7px 7px;
  border-bottom-color: var(--black);
}

.tippy-box[data-theme~=darken][data-placement^=left]>.tippy-arrow:before {
  border-width: 7px 0 7px 7px;
  border-left-color: var(--black);
}

.tippy-box[data-theme~=darken][data-placement^=right]>.tippy-arrow:before {
  border-width: 7px 7px 7px 0;
  border-right-color: var(--black);
}

.tippy-box[data-theme~=darken]>.tippy-backdrop {
  background: var(--black);
}

.tippy-box[data-theme~=darken]>.tippy-svg-arrow {
  fill: var(--black);
}

/******************** Loader ********************/

.loader-oa2dik {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 99;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--dark-not-black);
}

.spinner-tf89tw {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.cube-hwwb77, .cube-2usk81 {
  background: var(--white);
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: animation-m5j383 1.8s infinite ease-in-out;
  animation: animation-m5j383 1.8s infinite ease-in-out;
}

.cube-2usk81 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes animation-m5j383 {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes animation-m5j383 {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}

/******************** App ********************/

.app-7hx5g9 {
  display: none;
  align-items: center;
  justify-content: top;
  flex-direction: column;
}

/******************** Announcements ********************/

.announcement-oflwkt {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 20px;
  margin-bottom: 60px;
  min-width: 400px;
  background: rgba(114,137,218,.2);
  border: solid 2px var(--blurple);
  border-radius: 28px;
  padding: 14px 32px;
}

.announcement-oflwkt p {
  font-size: 18px;
  font-weight: 500;
  color: var(--blurple);
}

/******************** Version ********************/

.version-euwwan {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px;
  margin-top: 60px;
}

.version-euwwan p {
  font-size: 20px;
  font-weight: 700;
  color: var(--dark-not-black);
}

/******************** Form ********************/

.section-fhsah1 {
  display: flex;
  align-items: center;
  justify-content: top;
  flex-direction: column;
}

.section-fhsah1 img {
  width: 180px;
  margin-bottom: 10px;
  pointer-events: none;
}

.section-fhsah1 h1 {
  font-size: 56px;
  font-weight: 700;
  color: var(--dark-not-black);
  margin-bottom: 30px;
}

.form-wjfurz {
  width: auto;
  text-align: left;
}

.form-wjfurz .label-fx6oxx {
  font-size: 18px;
  font-weight: 700;
  color: var(--dark-not-black);
  text-align: left;
}

.row-86bszd {
  display: flex;
  align-items: center;
  justify-content: left;
}

.form-wjfurz input[type=url] {
  font-size: 20px;
  background: var(--off-white);
  border: solid 2px var(--off-white);
  padding: 14px 32px;
  border-radius: 28px;
  width: 400px;
  font-weight: 500;
  margin: 5px 10px 0 0;
  color: var(--dark-not-black);
}

.form-wjfurz input[type=url]:focus {
  border: solid 2px var(--blurple);
}

.form-wjfurz .btn-24wvst {
  background: var(--blurple);
  border-color: var(--blurple);
  color: var(--white);
  font-size: 20px;
  font-weight: 500;
  border-radius: 28px;
  transition: .3s;
  padding: 16px 32px;
}

.form-wjfurz .btn-24wvst:hover {
  background: var(--blurple-secondary);
  box-shadow: var(--shadow-bottom);
}

/******************** Table ********************/

.section-w1dct6 {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: top;
  flex-direction: column;
}

.table-tjx6kc {
  border: none;
  text-align: left;
  min-width: 800px;
  max-width: 1200px;
  margin-bottom: 20px;
}

.table-tjx6kc thead {
  background: var(--quite-black);
  border: none;
}

.table-tjx6kc thead th:nth-child(1) {
  border-top-left-radius: 15px;
}

.table-tjx6kc thead th:nth-child(4) {
  border-top-right-radius: 15px;
}

.table-tjx6kc thead th {
  padding: 14px;
  font-size: 16px;
  color: var(--white);
  font-weight: 500;
  text-transform: uppercase;
}

.table-tjx6kc tbody tr td {
  margin: 0;
  border: none;
}

.table-tjx6kc tbody tr {
  background: var(--dark-not-black);
  width: 150px;
  border: none;
}

.table-tjx6kc tbody tr:nth-child(even) {
  background: var(--not-quite-black);
}

.table-tjx6kc tbody tr td {
  font-size: 18px;
  font-weight: 500;
  color: var(--white);
  padding: 14px;
}

.table-tjx6kc tbody tr td a {
  font-size: 18px;
  font-weight: 500;
  color: var(--blurple);
}

.table-tjx6kc tbody tr td a:hover {
  text-decoration: underline;
  color: var(--blurple-secondary);
}

.row-pgapvi {
  display: flex;
  align-items: center;
  justify-content: left;
}

.row-pgapvi i {
  font-size: 20px;
  margin: 0 5px;
}

.row-pgapvi .fa-copy, .fa-share {
  color: var(--white);
  opacity: .65;
  transition: .3s;
}

.row-pgapvi .fa-copy:hover, .fa-share:hover {
  opacity: 1;
  transition: .3s;
  cursor: pointer;
}

.row-pgapvi .fa-copy:active, .fa-share:active {
  color: var(--green);
  cursor: pointer;
}